@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
    
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    margin: 0;
}

@media (max-width: 768px) {
    body {
        overflow-y: hidden;
    }
        
    }

.slogan {
    
    position:static;
    top: 0px;
    border-radius: 40px;
    background-color: rgb(151, 252, 0);
    color:#033415;
    text-align: center;
    padding: 10px;
    z-index: 10;
    
    
    

}


.slogan h1 {
    
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    overflow: hidden;  
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: typing 6s steps(40, end)1s infinite, blink-caret .75s step-end infinite;
}

@media (max-width: 768px) {
    .slogan {
        
        top: 0px; /* Ajuste a posição do slogan para telas menores */
        padding: 5px;
        
    }

    

    canvas {
        margin-bottom: 250px;
        display: block;
        max-width: 100%;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
    }

    
}

@keyframes typing {
    0% { width: 0; }
    40% { width: 100%; }
    100% { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}


canvas {
    
    max-width: 100%; 
    max-height: 100%;
    background-color: #111;
    
}

.score {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: red;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
    cursor: pointer;
    color: rgb(5, 7, 0);

}

.controls {
    display: none; /* Escondido por padrão */
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.btn-row {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.btn-control {
    font-size: 40px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.btn-control:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .controls {
        display: block; /* Exibido apenas em dispositivos móveis */
    }
}


footer {
    display: none;
    font-size: 15px;
    position: static;
    bottom: 0px;
}

